<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBobw2E5DVEY7egXhtpxP8B5-2WkEvHlB0</string>
	<key>GCM_SENDER_ID</key>
	<string>213230343471</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ck.astrolotto</string>
	<key>PROJECT_ID</key>
	<string>astrolotto-510ae</string>
	<key>STORAGE_BUCKET</key>
	<string>astrolotto-510ae.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:213230343471:ios:6d6af7eba89329ee1b7dda</string>
</dict>
</plist>